.no-room {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
    font-size: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    >svg {
        opacity: .6;
    }
}
