$second-color: #ce424275;
$main-color: #ce4242;

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    &Solo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .info {
            box-sizing: border-box;
            display: flex;
            position: absolute;
            flex-direction: column;
            gap: 20px;
            font-size: 24px;
            right: calc(50vw + 200px);
            bottom: 0px;
            width: 300px;

            padding: 20px;
            border: 2px solid deeppink;
            border-right: none;
            background-color: rgba(94, 38, 86, 0.308);
            border-radius: 5px;

            &-item {
                display: flex;
                align-items: center;
                gap: 20px;

                .title {}

            }
        }

        .queue {
            box-sizing: border-box;
            right: calc(50vw + 200px);
            top: 80px;
            position: absolute;
            height: 440px;
            width: 280px;
            padding: 20px;

            border: 2px solid deeppink;
            border-right: none;
            background-color: rgba(94, 38, 86, 0.308);
            border-radius: 5px;

            .title {
                text-align: center;
                font-size: 28px;
                margin-bottom: 32px;
            }

            canvas {
                display: flex;
                margin: auto;
            }
        }
    }


    &Multi {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .info {
            border: 2px solid deeppink;

            box-sizing: border-box;
            display: flex;
            position: absolute;
            flex-direction: column;
            gap: 20px;
            font-size: 24px;
            bottom: 0px;
            width: 300px;

            padding: 20px;

            background-color: rgba(94, 38, 86, 0.308);
            border-radius: 5px;

            &PlayerOne {
                right: calc(50vw + 480px);
                border-right: none;
            }

            &PlayerTwo {
                left: calc(50vw + 480px);
                border-left: none;
            }



            &Item {
                display: flex;
                align-items: center;
                gap: 20px;

                .title {}

            }
        }

        .PlayerOne+.queue {
            border: 2px solid deeppink;
            right: calc(50vw + 480px);
            border-right: none;

            box-sizing: border-box;
            top: 80px;
            position: absolute;
            height: 440px;
            width: 280px;
            padding: 20px;

            border-radius: 5px;
            background-color: rgba(94, 38, 86, 0.308);
        }

        .PlayerTwo+.queue {
            left: calc(50vw + 480px);

            box-sizing: border-box;
            top: 80px;
            position: absolute;
            height: 440px;
            width: 280px;
            padding: 20px;

            border-left: none;
            border-radius: 5px;
            background-color: rgba(94, 38, 86, 0.308);
        }

        .queue {
            border: 2px solid deeppink;

            &+.p1 {
                right: calc(50vw + 480px);
                border-right: none;
            }

            &+.p2 {
                left: calc(50vw + 480px);
                border-left: none;
            }


            .title {
                text-align: center;
                font-size: 28px;
                margin-bottom: 32px;
            }

            canvas {
                display: flex;
                margin: auto;
            }
        }
    }
}