.lobby {
    display: flex;
    z-index: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    &Top {
        place-self: center;
        display: flex;
        flex-direction: column;
        min-width: 400px;

        button {
            font-size: 22px;
            padding: 3px;
        }

        span {
            font-size: 30px;
        }

        .ready-button-wrapper {
            display: flex;
            gap: 100px;

            >* {
                display: flex;
                flex-direction: column;
                width: 200px;
            }
        }

        .check {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 10px;

            >svg {
                min-width: 40px;
            }
        }

        >button:last-of-type {
            place-self: center;
            padding: 6px;
            margin-top: 40px;
            width: 300px;
        }
    }

    gap: 20px;

    &Bottom {
        display: flex;
        flex-direction: column;
        max-width: 950px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .room-id {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: auto;
            font-size: x-large;
            margin-bottom: 10px;
            margin-left: 10px;

            .copy-text {
                font-size: 22px;
                color: #fff;
                top: -60px;
                left: -42px;
                position: absolute;
            }

            >div {
                display: flex;
                position: relative;
                outline: none;
                background-color: transparent;

                &:hover {
                    svg {
                        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
                        fill: #8d2c2c;
                    }
                }

            }
        }


        >div {
            display: flex;
            width: 100%;
            align-items: center; //
            justify-content: center;
        }

        &Chat {
            max-width: 760px;
            flex-grow: 1;

            .chat-box {
                overflow: auto;
                box-sizing: border-box;
                height: 160px;
                background-color: #903749;
                padding: 8px;

                &Message {
                    display: flex;
                    gap: 10px;
                }

                &::-webkit-scrollbar {
                    width: 15px;
                    background-color: #903749;
                }
            }

            .message-bar {
                display: flex;
            }
        }

        &Spectators {
            flex-grow: 1;
            max-width: 200px;
            background-color: #903749;
            height: 100%;
            box-sizing: border-box;
        }
    }
}

.loader-wrap {
    >div {
        font-size: 24px;
        margin-bottom: 10px;
    }
    place-items: center;
    .loader {
        width: 25px;
        height: 25px;
        background:
            linear-gradient(#0000 calc(1*100%/6), red 0 calc(3*100%/6), transparent 0),
            linear-gradient(#0000 calc(2*100%/6), red 0 calc(4*100%/6), transparent 0),
            linear-gradient(#0000 calc(3*100%/6), red 0 calc(5*100%/6), transparent 0);
        background-size: 4px 400%;
        background-repeat: no-repeat;
        animation: matrix 1s infinite linear;
    }
}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}
