@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

$background-color: #2B2E4A;
$primary-color: #c6538c;
$secondary-color: #c6538c;
$alert-color: #c6538c;

$purple_0 : #FFAD3B;
$purple_1 : #DE6A38;
$purple_2 : #C93038;
$purple_3 : #852D66;
$purple_4 : #46275C;

.lobby {
    display: flex;
    z-index: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;


    &Top {
        place-self: center;
        display: flex;
        flex-direction: column;
        min-width: 400px;

        button {
            font-size: 22px;
            padding: 3px;
        }

        span {
            font-size: 30px;
        }

        .ready-button-wrapper {
            display: flex;
            gap: 100px;

            >* {
                display: flex;
                flex-direction: column;
                width: 200px;
            }
        }

        .check {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 10px
        }

        >button:last-of-type {
            place-self: center;
            padding: 6px;
            margin-top: 40px;
            width: 300px;
        }
    }

    gap: 20px;

    &Bottom {
        display: flex;
        flex-direction: column;
        max-width: 950px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .room-id {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: auto;
            font-size: x-large;
            margin-bottom: 10px;
            margin-left: 10px;

            .copy-text {
                font-size: 22px;
                color: #fff;
                top: -60px;
                left: -42px;
                position: absolute;
            }

            >div {
                display: flex;
                position: relative;
                outline: none;
                background-color: transparent;

                &:hover {
                    svg {
                        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
                        fill: #8d2c2c;
                    }
                }

            }
        }


        >div {
            display: flex;
            width: 100%;
            align-items: center; //
            justify-content: center;
        }

        &Chat {
            max-width: 760px;
            flex-grow: 1;

            .chat-box {
                overflow: auto;
                box-sizing: border-box;
                @include pixel-borders($corner-size: 2,
                    $border-size: 3px,
                    $border-color: gray,
                );
                height: 160px;
                background-color: #903749;
                padding: 8px;

                &Message {
                    display: flex;
                    gap: 10px;
                }

                &::-webkit-scrollbar {
                    width: 15px;
                    background-color: #903749;
                }

                &::-webkit-scrollbar-thumb {
                    @include pixel-borders($corner-size: 2,
                        $border-size: 3px,
                        $border-color: $purple_4,
                    );
                }
            }

            .message-bar {
                display: flex;
            }
        }

        &Spectators {
            flex-grow: 1;
            max-width: 200px;
            background-color: #903749;

            @include pixel-borders($corner-size: 2,
                $border-size: 3px,
                $border-color: gray,
                $border-inset-color: false);
            height: 100%;
            box-sizing: border-box;

            .row {}
        }
    }
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .cubeLoader {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .cubeLoader:before {
        content: "";
        border-left: 12px solid #903749;
        border-right: 12px solid #903749;
        position: absolute;
        height: 12px;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        animation: splitX .5s linear infinite;
    }

    .cubeLoader:after {
        content: '';
        width: 24px;
        height: 12px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        animation: moveY .5s linear infinite;
    }

    @keyframes splitX {
        0% {
            width: 0;
            transform: translate(-50%, 0);
        }

        33% {
            width: 100%;
            transform: translate(-50%, 0);
            border-left: 12px solid #fff;
            border-right: 12px solid #fff;
        }

        66% {
            width: 100%;
            transform: translate(-50%, 12px);

        }

        100% {
            width: 0;
            transform: translate(-50%, 12px);
        }
    }

    @keyframes moveY {

        0%,
        33% {
            transform: translateY(0);
            background: #903749;
        }

        66%,
        100% {
            transform: translateY(-12px);
            background: #903749;
        }
    }
}