.slider {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    color: #ce4242;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 21px;
        background-color: #ce4242;
        &:hover{
            background-color: #8a2c2c;
        }
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 25px;
        background-color: #333;
        border-radius: 50%;
    }

    &::-webkit-slider-runnable-track {
        height: 25px;
        background-color: transparent;
        border-style: solid;
        border-width: 6px;
        overflow: hidden;
        box-sizing: border-box;
        border-image-slice: 2;
        border-image-width: 2;
        border-image-repeat: stretch;
        border-image-outset: 1;
        border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(165, 50, 50)" /></svg>');
    }

    &::-moz-range-track {
        height: 20px;
        background-color: #333;
        border-radius: 5px;
    }

    &::before {
        content: '0';
        display: inline-block;
        margin-right: 8px;
    }

    &::after {
        content: '10';
        display: inline-block;
        margin-left: 8px;

    }
}