    $color-bg: #1e1e1e;
    $color-particle: #fff;
    $spacing: 2560px;
    $time-1: 60s;
    $time-2: 120s;
    $time-3: 180s;
    $time-4: 200s;

    @function particles($max) {
        $val: 0px 0px $color-particle;

        @for $i from 1 through $max {
            $val: #{$val},
            random($spacing)+px random($spacing)+px $color-particle;
        }

        @return $val;
    }

    @mixin particles($max) {
        box-shadow: particles($max);
        border-radius: 50%;
    }


    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .page-bg,
    .animation-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .page-bg {
        background: $color-bg;
        background-blend-mode: screen;
        background-size: cover;
        filter: grayscale(100%);
        z-index: -1;
    }

    .particle,
    .particle:after {
        background: transparent;
    }

    .particle:after {
        position: absolute;
        content: "";
        top: $spacing;
    }

    .particle1 {
        animation: animParticle $time-1 linear infinite;
        @include particles(1000);
        height: 2px;
        width: 2px;
    }

    .particle1:after {
        @include particles(900);
        height: 2px;
        width: 2px;
    }

    .particle2 {
        animation: animParticle $time-2 linear infinite;
        @include particles(800);
        height: 2px;
        width: 2px;
    }

    .particle2:after {
        @include particles(500);
        height: 3px;
        width: 3px;
    }

    .particle3:after {
        @include particles(1100);
        height: 3px;
        width: 3px;
        border-radius: 50%;
    }

    .particle4 {
        animation: animParticle $time-4 linear infinite;
        @include particles(1200);
        height: 1px;
        width: 1px;
    }

    .particle4:after {
        @include particles(700);
        height: 1px;
        width: 1px;
    }

    @keyframes animParticle {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY($spacing * -1);
        }
    }

    .page-wrapper {
        text-align: center;
        color: #fff;
        z-index: 2;
    }

    h4 {
        color: #fff;
        font-family: Monoton;
        -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
        -moz-animation: neon1 1.5s ease-in-out infinite alternate;
        animation: neon1 1.5s ease-in-out infinite alternate;
    }

    h4:hover {
        color: #FF1177;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }

    /*glow for webkit*/

    @-webkit-keyframes neon1 {
        from {
            text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #FF1177,
                0 0 70px #FF1177,
                0 0 80px #FF1177,
                0 0 100px #FF1177,
                0 0 150px #FF1177;
        }

        to {
            text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #FF1177,
                0 0 35px #FF1177,
                0 0 40px #FF1177,
                0 0 50px #FF1177,
                0 0 75px #FF1177;
        }
    }

    /*glow for mozilla*/

    @-moz-keyframes neon1 {
        from {
            text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #FF1177,
                0 0 70px #FF1177,
                0 0 80px #FF1177,
                0 0 100px #FF1177,
                0 0 150px #FF1177;
        }

        to {
            text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #FF1177,
                0 0 35px #FF1177,
                0 0 40px #FF1177,
                0 0 50px #FF1177,
                0 0 75px #FF1177;
        }
    }

    /*glow*/

    @keyframes neon1 {
        from {
            text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #FF1177,
                0 0 70px #FF1177,
                0 0 80px #FF1177,
                0 0 100px #FF1177,
                0 0 150px #FF1177;
        }

        to {
            text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #FF1177,
                0 0 35px #FF1177,
                0 0 40px #FF1177,
                0 0 50px #FF1177,
                0 0 75px #FF1177;
        }
    }

    // ########################################################

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1.15;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    input,
    button {
        font: inherit;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
    }

    label {
        cursor: inherit;
    }

    input[type="range"] {
        cursor: inherit;
    }

    button {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;

    }

    [hidden] {
        display: none !important;
    }

    @font-face {
        font-family: pixel-font;
        src: url(/src/assets/upheavtt.ttf) format('truetype');
    }

    .app {
        height: 100vh;
        min-width: 100vw;
        font-family: pixel-font;
        color: rgb(189, 138, 138);
        max-height: 100vh !important;
        overflow: hidden !important;

        *::selection {
            color: rgba(230, 230, 230, 0.75);
            background: #a83535;
        }
    }